.nav {
  @apply p-5 w-full;
  background-color: #f76b00;
  color: white;
  position: fixed;

  &__element {
    @apply flex flex-row justify-between; /* md:justify-between */
  }

  &__logo {
    width: 33%;
    img {
      width: 7rem;
    }
  }

  &__search {
    color: black;
    width: 33%;
    input {
      @apply p-2 block w-full;
      outline: none;
      border-radius: 3px;
    }
    button {
      @apply h-10 px-6 m-2 text-lg text-indigo-100 transition-colors duration-150 bg-white;
      outline: none;
      position: absolute;
      top: 15%;
      left: 62%;
      border-radius: 3px;
    }
    button:hover {
      background-color: #ffa663;
    }
  }

  &__actions {
    width: 33%;
  }
}

.active-tab {
  color: #ffffff; 
}
